@font-face {
  font-family: Brandon Grotesque;
  src: url('fonts/Brandon_bld.otf'); /* file name */
  }
  @font-face {
  font-family: Futura;
  src: url('fonts/FuturaLight.ttf'); /* file name */
  }

.mediaViewInfo {
  --web-view-name: PinpointInstaller;
  --web-view-id: ppsInstaller;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: ppsInstaller;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#ppsInstaller {
  position: absolute;
  width: 900px;
  height: 720px;
  background-color: rgba(255,255,255,1);
  overflow: hidden;
  --web-view-name: PinpointInstaller;
  --web-view-id: ppsInstaller;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
#fullWindow {
  fill: rgba(0,0,0,1);
}
.fullWindow {
  position: absolute;
  overflow: visible;
  width: 900px;
  height: 720px;
  left: 0px;
  top: 0px;
}
#mainWindow {
  fill: rgba(26,26,26);
}
.mainWindow {
  overflow: visible;
  position: absolute;
  width: 900px;
  height: 642.61px;
  left: 0px;
  top: 77.39px;
  transform: matrix(1,0,0,1,0,0);
}
#infoWindow {
  fill: rgba(51,51,51,1);
}
.infoWindow {
  overflow: visible;
  position: absolute;
  width: 646.58px;
  height: 642.61px;
  left: 253.42px;
  top: 77.39px;
}
#leftLogo {
  fill: rgba(255,255,255,1);
}
.leftLogo {
  overflow: visible;
  position: absolute;
  width: 32.245px;
  height: 30.207px;
  left: 30.32px;
  top: 27.546px;
}
#rightLogo {
  fill: rgba(194,39,47,1);
}
.rightLogo {
  overflow: visible;
  position: absolute;
  width: 33.485px;
  height: 31.182px;
  left: 64.419px;
  top: 18.067px;
  transform: matrix(1,0,0,1,0,0);
}
#ID777-300ER {
  left: 46.442px;
  top: 130.154px;
  position: absolute;
  overflow: visible;
  width: 131px;
  white-space: nowrap;
  line-height: 32.240760803222656px;
  margin-top: -2.68673038482666px;
  text-align: left;
  font-family: Brandon Grotesque;
  src: url('fonts/BrandonBold.otf');
  font-style: normal;
  font-weight: normal;
  font-size: 26.867300033569336px;
  color: rgba(255,255,255,1);
}
#ID777-200ER {
  opacity: 0.57;
  left: 46.442px;
  top: 193.638px;
  position: absolute;
  overflow: visible;
  width: 131px;
  white-space: nowrap;
  line-height: 32.240760803222656px;
  margin-top: -2.68673038482666px;
  text-align: left;
  font-family: Brandon Grotesque;
  src: url('fonts/BrandonBold.otf');
  font-style: normal;
  font-weight: normal;
  font-size: 26.867300033569336px;
  color: rgba(255,255,255,1);
}
#ID777-200LR {
  opacity: 0.57;
  left: 46.442px;
  top: 262.541px;
  position: absolute;
  overflow: visible;
  width: 129px;
  white-space: nowrap;
  line-height: 32.240760803222656px;
  margin-top: -2.68673038482666px;
  text-align: left;
  font-family: Brandon Grotesque;
  src: url('fonts/BrandonBold.otf');
  font-style: normal;
  font-weight: normal;
  font-size: 26.867300033569336px;
  color: rgba(255,255,255,1);
}
#redUnderline {
  fill: transparent;
  stroke: rgba(193,39,45,1);
  stroke-width: 4px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.redUnderline {
  overflow: visible;
  position: absolute;
  width: 96.774px;
  height: 4px;
  left: 61.014px;
  top: 166.419px;
  transform: matrix(1,0,0,1,0,0);
}
#image {
  fill: rgba(26,26,26,1);
}
.image {
  position: absolute;
  overflow: visible;
  width: 562.065px;
  height: 346.011px;
  left: 281.194px;
  top: 129px;
}
#CommonRef777 {
  left: 281.194px;
  top: 490.791px;
  position: absolute;
  overflow: visible;
  width: 233.258px;
  height: 231.98617553710938px;
  line-height: 20px;
  margin-top: -1.200000286102295px;
  text-align: left;
  font-family: Futura;
  src: url("fonts/FuturaLight.ttf") format("truetype");
  font-weight: normal;
  font-size: 15px;
  color: rgba(255,255,255,1);
}
#installBtn {
  fill: rgba(193,39,45,1);
}
.installBtn {
  position: absolute;
  overflow: visible;
  width: 243.871px;
  height: 55.742px;
  left: 597.387px;
  top: 495.452px;
}
#install {
  left: 666.751px;
  top: 504.413px;
  position: absolute;
  overflow: visible;
  width: 102px;
  white-space: nowrap;
  line-height: 32.240760803222656px;
  margin-top: 3px;
  text-align: center;
  font-family: Brandon Grotesque;
  src: url('fonts/BrandonBold.otf');
  font-style: normal;
  font-weight: normal;
  font-size: 26.867300033569336px;
  color: rgba(255,255,255,1);
}
#nextCircle {
  fill: rgba(255,255,255,1);
}
.nextCircle {
  position: absolute;
  overflow: visible;
  width: 19.355px;
  height: 19.355px;
  left: 810.742px;
  top: 292.328px;
}
#nextArrow {
  fill: rgba(255,255,255,1);
  stroke: rgba(0,0,0,1);
  stroke-width: 2px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.nextArrow {
  overflow: visible;
  position: absolute;
  width: 7.805px;
  height: 13.133px;
  left: 818.419px;
  top: 295.839px;
  transform: matrix(1,0,0,1,0,0);
}
#Welcome_to_the_Pinpoint_Simula {
  left: 126.629px;
  top: 18.593px;
  position: absolute;
  overflow: visible;
  width: 570px;
  white-space: nowrap;
  line-height: 34.00870895385742px;
  margin-top: -2.834059715270996px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28.34058952331543px;
  color: rgba(255,255,255,1);
}
#updateAvail {
  fill: rgba(255,206,0,1);
}
.updateAvail {
  position: absolute;
  overflow: visible;
  width: 157.788px;
  height: 15.516px;
  left: 0px;
  top: 704.484px;
}
#divideLine {
  fill: transparent;
  stroke: rgba(255,255,255,1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
  shape-rendering: auto;
}
.divideLine {
  overflow: visible;
  position: absolute;
  width: 1px;
  height: 213.731px;
  left: 557.581px;
  top: 491.011px;
  transform: matrix(1,0,0,1,0,0);
}
#AN_UPDATE_IS_AVAILABLE {
  left: 5.838px;
  top: 703.613px;
  position: absolute;
  overflow: visible;
  width: 147px;
  white-space: nowrap;
  line-height: 14.40000057220459px;
  margin-top: -1.200000286102295px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(0,0,0,1);
}